body {
    background-color: #432534;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.titulo {
    color: white;
    text-align: center;
    font-family: 'Outfit';
    font-size: 2rem;
}

.login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efd6ac;
    border-radius: 10px;
    padding: 4rem;
}

.login-menu__label {
    border-radius: 3px;
    font-family: 'Outfit';
    color:  #04151f;
}

.login-menu__input {
    display:flex;
    margin-bottom: 0.5rem;
}

.login-menu__botao {
    background-color: #dd5100;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border: none;
}
.login-menu__botao:hover {
    cursor: pointer;
    background-color: #913500;
}